body
{
	background-color:green;
	color: white;
}
.divReadable
{
	width: 650px;
	margin-left: auto;
    margin-right: auto;
}
.txtCenter
{
	text-align: center;
}
h1
{
    font-size: 500%;
}
#SignUp
{
	color: black;
}
#Login
{
	color: black;
}
#changePicture
{
    color: black;
}
.module-container
{
    background-color: white;
    color: black;
    margin: 5px;
    padding: 5px;
}