body
{
	height:100%;
	background-image: url('../Images/Sky1.jpg');
	background-color: blue;
	color: white;
}
.divReadable
{
	width: 650px;
	margin-left: auto;
    margin-right: auto;
}
.txtCenter
{
	text-align: center;
}
h1
{
    font-size: 500%;
}
.modal
{
	color: black;
}
.module-container
{
    background-color: white;
    color: black;
    margin: 5px;
    padding: 5px;
    display: block;
    float: left;
}
.FileIcon
{
    display: block;
	float: left;
	margin: 5px;
    padding: 5px;
	text-align: center;
}
.FileIconSelect
{
	background-color: #C8C8C8; 
}
.FileIcon:hover
{
	background-color: #A8A8A8;
}
.clear
{
  clear: both;
}
.RowSelect
{
	background-color: blue;
	color: white;
}
.RowSelect a
{
	color: white;
}
.RowSelect:hover
{
	background-color: blue !important;
}
#DirectoryBrowserTable {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
#DirectoryTable {
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}
