body
{
	background-color:green;
	color: white;
}
.divReadable
{
	width: 650px;
	margin-left: auto;
    margin-right: auto;
}
.txtCenter
{
	text-align: center;
}
h1
{
    font-size: 500%;
}
.modal
{
	color: black;
}
.module-container
{
    background-color: white;
    color: black;
    margin: 5px;
    padding: 5px;
    display: block;
    float: left;
}
.FileIcon
{
    display: block;
	float: left;
	margin: 5px;
    padding: 5px;
	text-align: center;
}
.FileIconSelect
{
	background-color: #E8E8E8;
}
.FileIcon:hover
{
	background-color: #C8C8C8;
}
.clear
{
  clear: both;
}